* {
  margin: 0%;
  background-color: rgba(133, 187, 169, 0.404);
}
.ryan {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right_ear {
  position: absolute;
  top: 280px;
  right: 750px;
  width: 70px;
  height: 70px;
  border: 10px solid #000;
  border-radius: 100%;
  background: #d59729;
}
.left_ear {
  position: absolute;
  top: 280px;
  left: 750px;
  width: 70px;
  height: 70px;
  border: 10px solid #000;
  border-radius: 100%;
  background: #d59729;
}
.head {
  position: absolute;
  top: 300px;
  width: 300px;
  height: 280px;
  border: 10px solid #000;
  border-radius: 100%;
  background: #d59729;
}
.right_eye {
  position: absolute;
  top: 420px;
  left: 825px;
  border: 10px solid #000;
  border-radius: 100%;
  background: #d59729;
}
.left_eye {
  position: absolute;
  top: 420px;
  right: 825px;
  border: 10px solid #000;
  border-radius: 100%;
  background: #d59729;
}
.nose {
  position: absolute;
  top: 465px;
  border: 10px solid #000;
  border-radius: 80px 80px 100px 100px;
  background: #d59729;
}
